/*
* Database: DBExcellOnConsultingServices
* Author: Hoangdp_c00473
* Start Date: 30.06.2011
* */

/*
* 1. CREATE DATABASE
* */
USE [master]
GO
IF EXISTS ( SELECT  *
            FROM    sys.databases
            WHERE   NAME = 'DBExcellOnConsultingServices' ) 
    BEGIN
        DROP DATABASE DBExcellOnConsultingServices
    END
GO
CREATE DATABASE DBExcellOnConsultingServices
GO
USE DBExcellOnConsultingServices
GO

/*
* 2. CREATE TABLE
* */
CREATE TABLE Account
    (
      Account_Id UNIQUEIDENTIFIER NOT NULL
                                  DEFAULT ( NEWID() ) ,
      Employee_Id UNIQUEIDENTIFIER UNIQUE
                                   NOT NULL ,
      Role_Name NVARCHAR(256) NOT NULL ,
      Account_UserName NVARCHAR(256) UNIQUE
                                     NOT NULL ,
      Account_Password NVARCHAR(128) NOT NULL ,
      Account_IsLocked BIT NOT NULL
                           DEFAULT 0 ,
      Account_IsDelete BIT NOT NULL
                           DEFAULT 0 ,
      CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED ( [Account_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Category
    (
      Category_Id UNIQUEIDENTIFIER NOT NULL
                                   DEFAULT ( NEWID() ) ,
      Category_Name NVARCHAR(256) UNIQUE
                                  NOT NULL ,
      Category_IsDelete BIT NOT NULL
                            DEFAULT 0 ,
      CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED ( [Category_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Company
    (
      Company_Id UNIQUEIDENTIFIER NOT NULL
                                  DEFAULT ( NEWID() ) ,
      Company_Name NVARCHAR(256) UNIQUE
                                 NOT NULL ,
      Company_Logo NVARCHAR(MAX) ,
      Company_Description NVARCHAR(MAX) ,
      Company_Phone NVARCHAR(16) ,
      Company_Email NVARCHAR(256) UNIQUE ,
      Company_Address NVARCHAR(256) ,
      Company_IsDelete BIT NOT NULL
                           DEFAULT 0 ,
      CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED ( [Company_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Contact
    (
      Contact_Id UNIQUEIDENTIFIER NOT NULL
                                  DEFAULT ( NEWID() ) ,
      Contact_Title NVARCHAR(256) NOT NULL ,
      Contact_Content NVARCHAR(MAX) ,
      Contact_Name NVARCHAR(256) ,
      Contact_Email NVARCHAR(256) UNIQUE
                                  NOT NULL ,
      Contact_Date SMALLDATETIME NOT NULL ,
      Contact_Status INT NOT NULL ,
      Contact_IsDelete BIT NOT NULL
                           DEFAULT 0 ,
      CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED ( [Contact_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Customer
    (
      Customer_Id UNIQUEIDENTIFIER NOT NULL
                                   DEFAULT ( NEWID() ) ,
      Customer_FulName NVARCHAR(256) NOT NULL ,
      Customer_Phone NVARCHAR(16) ,
      Customer_Address NVARCHAR(256) ,
      Customer_IsDelete BIT NOT NULL
                            DEFAULT 0 ,
      CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED ( [Customer_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE CustomerOfCompany
    (
      Customer_Id UNIQUEIDENTIFIER NOT NULL ,
      Company_Id UNIQUEIDENTIFIER NOT NULL ,
      CustomerOfCompany_IsDelete BIT NOT NULL
                                     DEFAULT 0 ,
      CONSTRAINT [PK_CustomerOfCompany] PRIMARY KEY CLUSTERED
        ( [Customer_Id] ASC, [Company_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Dealer
    (
      Dealer_Id UNIQUEIDENTIFIER NOT NULL
                                 DEFAULT ( NEWID() ) ,
      Company_Id UNIQUEIDENTIFIER NOT NULL ,
      Dealer_Name NVARCHAR(256) NOT NULL ,
      Dealer_Address NVARCHAR(256) ,
      Dealer_Phone NVARCHAR(16) ,
      Dealer_Email NVARCHAR(256) ,
      Dealer_IsDelete BIT NOT NULL
                          DEFAULT 0 ,
      CONSTRAINT [PK_Dealer] PRIMARY KEY CLUSTERED ( [Dealer_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Department
    (
      Department_Id UNIQUEIDENTIFIER NOT NULL
                                     DEFAULT ( NEWID() ) ,
      Department_Name NVARCHAR(256) UNIQUE
                                    NOT NULL ,
      Department_Description NVARCHAR(MAX) ,
      Department_IsDelete BIT NOT NULL
                              DEFAULT 0 ,
      CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED ( [Department_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Employee
    (
      Employee_Id UNIQUEIDENTIFIER NOT NULL
                                   DEFAULT ( NEWID() ) ,
      Department_Id UNIQUEIDENTIFIER NOT NULL ,
      Employee_FirtName NVARCHAR(256) ,
      Employee_LastName NVARCHAR(256) ,
      Employee_Gender BIT ,
      Employee_DateOfBirth SMALLDATETIME ,
      Employee_Address NVARCHAR(256) ,
      Employee_PhoneNumber NVARCHAR(16) ,
      Employee_Email NVARCHAR(256) NOT NULL ,
      Employee_Avatar NVARCHAR(MAX) ,
      Employee_IsDelete BIT NOT NULL
                            DEFAULT 0 ,
      CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED ( [Employee_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE News
    (
      News_Id UNIQUEIDENTIFIER NOT NULL
                               DEFAULT ( NEWID() ) ,
      News_Title NVARCHAR(256) NOT NULL ,
      News_Content NVARCHAR(MAX) ,
      News_Date SMALLDATETIME NOT NULL ,
      News_IsDelete BIT NOT NULL
                        DEFAULT 0 ,
      CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED ( [News_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE OrderOfService
    (
      OrderOfService_Id UNIQUEIDENTIFIER NOT NULL
                                         DEFAULT ( NEWID() ) ,
      Company_Id UNIQUEIDENTIFIER NOT NULL ,
      Employee_Id UNIQUEIDENTIFIER NOT NULL ,
      OrderOfService_Description NVARCHAR(MAX) ,
      OrderOfService_PaymentMethod NVARCHAR(256) NOT NULL ,
      OrderOfService_PaymentDate SMALLDATETIME NOT NULL ,
      OrderOfService_BillDate SMALLDATETIME NOT NULL ,
      OrderOfService_Status INT NOT NULL ,
      OrderOfService_IsDelete BIT NOT NULL
                                DEFAULT 0 ,
      CONSTRAINT [PK_OrderOfService] PRIMARY KEY CLUSTERED
        ( [OrderOfService_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE OrderOfServiceDetail
    (
      OrderOfService_Id UNIQUEIDENTIFIER NOT NULL ,
      Service_Id UNIQUEIDENTIFIER NOT NULL ,
      OrderOfServiceDetail_FromDate SMALLDATETIME NOT NULL ,
      OrderOfServiceDetail_ToDate SMALLDATETIME NOT NULL ,
      OrderOfServiceDetail_NumberOfEmployee INT NOT NULL ,
      OrderOfServiceDetail_IsDelete BIT NOT NULL
                                      DEFAULT 0 ,
      CONSTRAINT [PK_OrderServiceDetail] PRIMARY KEY CLUSTERED
        ( [OrderOfService_Id] ASC, [Service_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Problem
    (
      Problem_Id UNIQUEIDENTIFIER NOT NULL
                                  DEFAULT ( NEWID() ) ,
      Problem_Title NVARCHAR(256) NOT NULL ,
      Problem_Content NVARCHAR(MAX) ,
      Problem_IsDelete BIT NOT NULL
                           DEFAULT 0 ,
      CONSTRAINT [PK_Problem] PRIMARY KEY CLUSTERED ( [Problem_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE ProblemOfCustomer
    (
      ProblemOfCustomer_Id UNIQUEIDENTIFIER NOT NULL
                                            DEFAULT ( NEWID() ) ,
      Customer_Id UNIQUEIDENTIFIER NOT NULL ,
      Company_Id UNIQUEIDENTIFIER NOT NULL ,
      Problem_Id UNIQUEIDENTIFIER NOT NULL ,
      ProblemOfCustomer_Date SMALLDATETIME NOT NULL ,
      ProblemOfCustomer_IsDelete BIT NOT NULL
                                     DEFAULT 0 ,
      CONSTRAINT [PK_ProblemOfCustomer] PRIMARY KEY CLUSTERED
        ( [ProblemOfCustomer_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE Product
    (
      Product_Id UNIQUEIDENTIFIER NOT NULL
                                  DEFAULT ( NEWID() ) ,
      Company_Id UNIQUEIDENTIFIER NOT NULL ,
      Category_Id UNIQUEIDENTIFIER NOT NULL ,
      Product_Name NVARCHAR(256) NOT NULL ,
      Product_Type NVARCHAR(256) NOT NULL ,
      Product_Price NVARCHAR(256) NOT NULL ,
      Product_Description NVARCHAR(MAX) ,
      Product_Image NVARCHAR(MAX) ,
      Product_ManufactureDate SMALLDATETIME ,
      Product_ExpiryDate SMALLDATETIME ,
      Product_IsDelete BIT NOT NULL
                           DEFAULT 0 ,
      CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED ( [Product_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
Go
CREATE TABLE [Role]
    (
      Role_Name NVARCHAR(256) NOT NULL ,
      Role_IsDelete BIT NOT NULL
                        DEFAULT 0 ,
      CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED ( [Role_Name] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO
CREATE TABLE [Service]
    (
      Service_Id UNIQUEIDENTIFIER NOT NULL
                                  DEFAULT ( NEWID() ) ,
      [Service_Name] NVARCHAR(256) UNIQUE
                                   NOT NULL ,
      Service_Image NVARCHAR(MAX) ,
      Service_Description NVARCHAR(MAX) ,
      Service_Charge NVARCHAR(256) NOT NULL ,
      Service_IsDelete BIT NOT NULL
                           DEFAULT 0 ,
      CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED ( [Service_Id] ASC )
        WITH ( PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,
               IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON,
               ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
    )
GO

/*
* 3. CREATE CONSTRAINT
* */
/*------------------------------TABLE ACCOUNT------------------------------*/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Employee]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([Role_Name])
REFERENCES [dbo].[Role] ([Role_Name])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
/*------------------------------#END TABLE ACCOUNT------------------------------*/
GO
/*------------------------------TABLE CUSTOMER OF COMPANY------------------------------*/
ALTER TABLE [dbo].[CustomerOfCompany]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOfCompany_Company] FOREIGN KEY([Company_Id])
REFERENCES [dbo].[Company] ([Company_Id])
GO
ALTER TABLE [dbo].[CustomerOfCompany] CHECK CONSTRAINT [FK_CustomerOfCompany_Company]
GO
ALTER TABLE [dbo].[CustomerOfCompany]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOfCompany_Customer] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customer] ([Customer_Id])
GO
ALTER TABLE [dbo].[CustomerOfCompany] CHECK CONSTRAINT [FK_CustomerOfCompany_Customer]
/*------------------------------#END TABLE CUSTOMER OF COMPANY------------------------------*/
GO
/*------------------------------TABLE DEALER------------------------------*/
ALTER TABLE [dbo].[Dealer]  WITH CHECK ADD  CONSTRAINT [FK_Dealer_Company] FOREIGN KEY([Company_Id])
REFERENCES [dbo].[Company] ([Company_Id])
GO
ALTER TABLE [dbo].[Dealer] CHECK CONSTRAINT [FK_Dealer_Company]
/*------------------------------#END TABLE DEALER------------------------------*/
GO
/*------------------------------TABLE EMPLOYEE------------------------------*/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
/*------------------------------#END TABLE EMPLOYEE------------------------------*/
GO
/*------------------------------TABLE ORDER SERVICE------------------------------*/
ALTER TABLE [dbo].[OrderOfService]  WITH CHECK ADD  CONSTRAINT [FK_OrderOfService_Company] FOREIGN KEY([Company_Id])
REFERENCES [dbo].[Company] ([Company_Id])
GO
ALTER TABLE [dbo].[OrderOfService] CHECK CONSTRAINT [FK_OrderOfService_Company]
GO
ALTER TABLE [dbo].[OrderOfService]  WITH CHECK ADD  CONSTRAINT [FK_OrderOfService_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[OrderOfService] CHECK CONSTRAINT [FK_OrderOfService_Employee]
/*------------------------------#END TABLE ORDER SERVICE------------------------------*/
GO
/*------------------------------TABLE ORDER SERVICE DETAIL------------------------------*/
ALTER TABLE [dbo].[OrderOfServiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderOfServiceDetail_OrderOfService] FOREIGN KEY([OrderOfService_Id])
REFERENCES [dbo].[OrderOfService] ([OrderOfService_Id])
GO
ALTER TABLE [dbo].[OrderOfServiceDetail] CHECK CONSTRAINT [FK_OrderOfServiceDetail_OrderOfService]
GO
ALTER TABLE [dbo].[OrderOfServiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderOfServiceDetail_Service] FOREIGN KEY([Service_Id])
REFERENCES [dbo].[Service] ([Service_Id])
GO
ALTER TABLE [dbo].[OrderOfServiceDetail] CHECK CONSTRAINT [FK_OrderOfServiceDetail_Service]
/*------------------------------#END TABLE ORDER SERVICE DETAIL------------------------------*/
GO
/*------------------------------TABLE PROBLEM------------------------------*/
ALTER TABLE [dbo].[ProblemOfCustomer]  WITH CHECK ADD  CONSTRAINT [FK_ProblemOfCustomer_Company] FOREIGN KEY([Company_Id])
REFERENCES [dbo].[Company] ([Company_Id])
GO
ALTER TABLE [dbo].[ProblemOfCustomer] CHECK CONSTRAINT [FK_ProblemOfCustomer_Company]
GO
ALTER TABLE [dbo].[ProblemOfCustomer]  WITH CHECK ADD  CONSTRAINT [FK_ProblemOfCustomer_Customer] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customer] ([Customer_Id])
GO
ALTER TABLE [dbo].[ProblemOfCustomer] CHECK CONSTRAINT [FK_ProblemOfCustomer_Customer]
GO
ALTER TABLE [dbo].[ProblemOfCustomer]  WITH CHECK ADD  CONSTRAINT [FK_ProblemOfCustomer_Problem] FOREIGN KEY([Problem_Id])
REFERENCES [dbo].[Problem] ([Problem_Id])
GO
ALTER TABLE [dbo].[ProblemOfCustomer] CHECK CONSTRAINT [FK_ProblemOfCustomer_Problem]
/*------------------------------#END TABLE PROBLEM------------------------------*/
GO
/*------------------------------TABLE PRODUCT------------------------------*/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Category] ([Category_Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Company] FOREIGN KEY([Company_Id])
REFERENCES [dbo].[Company] ([Company_Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Company]
/*------------------------------#END TABLE PRODUCT------------------------------*/
GO
/*
* Task: Insert data to database
* Author: cuongph_c00034
* Start Date: 03.07.2011
* */

/*
* Insert into table DEPARTMENT
* */
INSERT  INTO Department
VALUES  ( '42a8d8d1-eaa0-4a4f-a623-01b82bb20729', 'HR Management', '', 'False' ) ;
GO
INSERT  INTO Department
VALUES  ( '3aaa7421-439c-4bca-a370-353df83f5bb3', 'Administration', '',
          'False' ) ;
GO
INSERT  INTO Department
VALUES  ( 'd5e6196d-c293-4378-bc20-842f7f8a6de0', 'Service', N'', 'False' ) ;
GO

/*
* Insert into table EMPLOYEE
* */
GO

/*
* Insert into table ROLE
* */ 
INSERT  INTO [Role]
VALUES  ( 'Administrator', 'False' ) ;
GO
INSERT  INTO [Role]
VALUES  ( 'HR Manager', 'False' ) ;
GO
INSERT  INTO [Role]
VALUES  ( 'Service Manager', 'False' ) ;
GO

/*
* Insert into table ACCOUNT
* */
INSERT  INTO Account
VALUES  ( 'f6bd432d-e1b8-469f-91fd-3ac2de9cb704',
          '754f0733-b860-46ec-94a1-d9c0102c32c2', 'Administrator', 'admin',
          'e10adc3949ba59abbe56e057f20f883e', 'False', 'False' ) ;
GO
INSERT  INTO Account
VALUES  ( 'eeca2cef-7ffb-433f-a442-615d8858f966',
          'e02ee6b8-8d06-4d94-9ce2-aa7a33fa454e', 'HR Manager', 'hrmanager',
          'e10adc3949ba59abbe56e057f20f883e', 'False', 'False' ) ;
GO
INSERT  INTO Account
VALUES  ( 'c26e159c-9216-4b3a-895f-695492e09540',
          '990fe281-b507-4a11-af85-a83175a8d344', 'Service Manager', 'servicemanager',
          'e10adc3949ba59abbe56e057f20f883e', 'False', 'False' ) ;
GO

/*
* Insert into table COMPANY
* */ 
INSERT  INTO Company
VALUES  ( 'd4d232b2-8986-4ac0-b7e6-0a591f465fa6', N'Công ty TNHH Simply', '',
          N'công ty cung ứng dầu ăn.chất lượng', N'043 2146614',
          N'info@simply.com.vn', N'118 Lạc Trung Hà Nội', 'False' ) ;
GO
INSERT  INTO Company
VALUES  ( '18713451-f569-4778-afa6-af0fce1bc1e0',
          N'Công ty TNHH Ngôi Sao Việt', '',
          N'công ty cung cấp dịch vụ du lịch', N'0432155166',
          N'info@vietstar.com.vn', N'816 đê La Thành Hà Nội', 'False' ) ;
GO
INSERT  INTO Company
VALUES  ( '125ab0d6-4b35-4dda-80f7-fa744aff3045', N'Công ty TNHH Toàn Thắng',
          '', N'công ty sản xuất và nhập khẩu thiết bị điện máy ',
          N'0436144412', N'info@toanthang.com.vn',
          N'81 Đường Thành Hà Nội', 'False' ) ;
 GO
 
 /*
* Insert into table ORDER OF SERVICE
* */ 
INSERT  INTO OrderOfService
VALUES  ( 'a673f36e-e792-4176-be90-16415c426ecc',
          '125ab0d6-4b35-4dda-80f7-fa744aff3045',
          '97200740-f4d1-4820-b089-f7a545367aaf', N'hợp đồng 6 tháng',
          N'chuyển khoản 100%', '6/6/2011', '6/6/2011', 1, 'False' ) ;
GO
INSERT  INTO OrderOfService
VALUES  ( '01cfe750-6ea8-419d-8da9-b954c196b042',
          '18713451-f569-4778-afa6-af0fce1bc1e0',
          '26ec8d80-5cae-4c1c-9456-dff1e5148b2c', N'hợp đồng 12 tháng',
          N'chuyển khoản 100%', '6/16/2011', '6/16/2011', 1, 'False' ) ;
GO
INSERT  INTO OrderOfService
VALUES  ( '2de09cae-a842-4561-9ae2-c7662ca5e474',
          'd4d232b2-8986-4ac0-b7e6-0a591f465fa6',
          '754f0733-b860-46ec-94a1-d9c0102c32c2', N'hợp đồng 12 tháng',
          N'chuyển khoản 100%', '7/1/2011', '7/3/2011', 1, 'False' ) ;
GO

/*
* Insert into table SERVICE
* */
GO

/*
* Insert into table ORDER OF SERVICE DETAIL
* */
INSERT  INTO OrderOfServiceDetail
VALUES  ( 'a673f36e-e792-4176-be90-16415c426ecc',
          '51b24177-da84-4a18-8637-16c93656c0ca', '6/12/2011', '12/12/2011', 1, 'False' ) ;
GO
INSERT  INTO OrderOfServiceDetail
VALUES  ( '01cfe750-6ea8-419d-8da9-b954c196b042',
          'f40d7f1d-637e-4d55-a811-37579da818db', '7/1/2011', '7/1/2012', 1,'False' ) ;
GO
INSERT  INTO OrderOfServiceDetail
VALUES  ( '01cfe750-6ea8-419d-8da9-b954c196b042',
          'e0d8cc13-18a9-4c13-88a5-5beeb124986a', '6/12/2011', '11/12/2011', 1, 'False' ) ;
GO

/*
* Insert into table CATEGORY
* */
INSERT  INTO Category
VALUES  ( '2e18d6f7-3187-4a1d-b3bd-6a89e858fcd2', N'Food', 'False' ) ;
GO
INSERT  INTO Category
VALUES  ( 'e3639a41-39be-4fb4-ae18-80d384f818e1', N'Travel', 'False' ) ;
GO

/*
* Insert into table PRODUCT
* */
INSERT  INTO Product
VALUES  ( '1bc3d5e0-b1c4-4967-bdd4-88d567e6271f',
          'd4d232b2-8986-4ac0-b7e6-0a591f465fa6',
          '2e18d6f7-3187-4a1d-b3bd-6a89e858fcd2',
          N'dầu ăn tinh chế đậu nành', 'Product', 'WimEXHocBME=',
          N'sản xuất tại VN Ngon bổ rẻ', '', '4/24/2011', '4/24/2014',
          'False' ) ;
GO
INSERT  INTO Product
VALUES  ( '34f7272e-0181-4874-a387-7f9e8f57d2f6',
          '18713451-f569-4778-afa6-af0fce1bc1e0',
          '2e18d6f7-3187-4a1d-b3bd-6a89e858fcd2', N'sữa đậu nành',
          'Product', 'TNc/MRe1r2A=', N'sản xuất tại VN Ngon bổ rẻ', '',
          '6/21/2011', '12/21/2011', 'False' ) ;
GO
INSERT  INTO Product
VALUES  ( '33b29288-2181-44d3-b10d-736d5d694095',
          '125ab0d6-4b35-4dda-80f7-fa744aff3045',
          'e3639a41-39be-4fb4-ae18-80d384f818e1', N'gói du lịch nha trang',
          'Service', 'byqSFKAq5fk=',
          N'đảm bảo đầy đủ.an toàn trong 3 ngày', '', '1/1/2011',
          '1/1/2015', 'False' ) ;
GO

/*
* Insert into table CUSTOMER
* */
INSERT  INTO Customer
VALUES  ( 'abb10eda-13cf-47ae-a0e7-0a7d472763e3', N'Hoàng Mạnh',
          N'0914551112', N'1129 Láng  Hà Nội', 'False' ) ;
GO
INSERT  INTO Customer
VALUES  ( '01cb9816-8339-4e1f-8818-3179527a30c3', N'Nguyễn Minh',
          N'0912 561 552', N'14 Thái Thịnh Đống Đa Hà Nội', 'False' ) ;
GO
INSERT  INTO Customer
VALUES  ( '12777dc2-6da1-4f8c-a5e9-7bb947e6a88b', N'Lê Thông', N'0944214442',
          N'145 Đại Cồ Việt-Hai Bà Trưng-Hà Nội', 'False' ) ;
GO

/*
* Insert into table CUSTOMER OF COMPANY
* */
INSERT  INTO CustomerOfCompany
VALUES  ( '12777dc2-6da1-4f8c-a5e9-7bb947e6a88b',
          'd4d232b2-8986-4ac0-b7e6-0a591f465fa6', 'False' ) ;
GO
INSERT  INTO CustomerOfCompany
VALUES  ( '01cb9816-8339-4e1f-8818-3179527a30c3',
          '18713451-f569-4778-afa6-af0fce1bc1e0', 'False' ) ;
GO
INSERT  INTO CustomerOfCompany
VALUES  ( '25d7e88e-109b-4b8e-853a-db9aba955cd2',
          '125ab0d6-4b35-4dda-80f7-fa744aff3045', 'False' ) ;
GO

/*
* Insert into table PROBLEM
* */
INSERT  INTO Problem
VALUES  ( 'c08c0081-789b-42d8-81d6-11dd98cbe09d', N'giá cả',
          N'giá cao quá đi', 'False' ) ;
GO
INSERT  INTO Problem
VALUES  ( '36bae9b9-4743-47b3-a33f-61a27aee6351', N'chất lượng',
          N'không ngon', 'False' ) ;
GO
INSERT  INTO Problem
VALUES  ( '2d48455b-e449-4637-aa77-bf0b10602f54', N'chất lượng',
          N'Phục vụ tour tốt', 'False' ) ;
GO

/*
* Insert into table PROBLEM OF CUSTOMER
* */
INSERT  INTO ProblemOfCustomer
VALUES  ( '11dc56cd-733d-42e0-a89b-1b5dfa353c17',
          '01cb9816-8339-4e1f-8818-3179527a30c3',
          '18713451-f569-4778-afa6-af0fce1bc1e0',
          'c08c0081-789b-42d8-81d6-11dd98cbe09d', '7/1/2011', 'False' ) ;
GO
INSERT  INTO ProblemOfCustomer
VALUES  ( 'a6f82f9f-e179-41ab-bf8c-41aed64dc7fe',
          '12777dc2-6da1-4f8c-a5e9-7bb947e6a88b',
          'd4d232b2-8986-4ac0-b7e6-0a591f465fa6',
          '36bae9b9-4743-47b3-a33f-61a27aee6351', '7/15/2011', 'False' ) ;
GO
INSERT  INTO ProblemOfCustomer
VALUES  ( '447a589f-740a-417a-9220-cf5329130599',
          '25d7e88e-109b-4b8e-853a-db9aba955cd2',
          '125ab0d6-4b35-4dda-80f7-fa744aff3045',
          '2d48455b-e449-4637-aa77-bf0b10602f54', '7/18/2011', 'False' ) ;
GO

/*
* Insert into table DEALER
* */
INSERT  INTO Dealer
VALUES  ( 'f7fd0e02-30be-4e0a-826f-1f9c6b0711e6',
          '125ab0d6-4b35-4dda-80f7-fa744aff3045',
          N'cửa hàng bách hóa Hướng Dương',
          N'310 Tôn Thất Tùng-Hà Nội', N'0432141156',
          N'bachhoahuongduong@gmail.com', 'False' ) ;

/*
* Task: Create Procerdure
* Author: anhlt_c00177
* Start Date: 03.07.2011
* */
GO

CREATE PROC [dbo].[Category_Update]
    @Category_Id UNIQUEIDENTIFIER ,
    @Category_Name NVARCHAR(50) ,
    @Category_IsDelete BIT
AS 
    UPDATE  dbo.Category
    SET     Category_Name = @Category_Name ,
            Category_IsDelete = @Category_IsDelete
    WHERE   Category_Id = @Category_Id

GO
CREATE PROC [dbo].[Category_UpdateStatus]
    @Category_Id UNIQUEIDENTIFIER ,
    @Category_IsDelete BIT
AS 
    UPDATE  dbo.Category
    SET     Category_IsDelete = @Category_IsDelete
    WHERE   Category_Id = @Category_Id

go

CREATE PROC [dbo].[Category_ShowOnewDisplay]
    @Category_Id UNIQUEIDENTIFIER
AS 
    SELECT  *
    FROM    dbo.Category
    WHERE   Category_Id = @Category_Id
            AND Category_IsDelete = 0
go

CREATE PROC [dbo].[Category_ShowAllDisplay]
AS 
    SELECT  *
    FROM    dbo.Category
    WHERE   Category_IsDelete = 0
go
CREATE PROC [dbo].[Category_Insert]
    @Category_Id UNIQUEIDENTIFIER ,
    @Category_Name NVARCHAR(50)
AS 
    INSERT  INTO dbo.Category
            ( Category_Id, Category_Name )
    VALUES  ( @Category_Id, @Category_Name )
    GO

CREATE PROC [dbo].[Category_Delete]
    @Category_Id UNIQUEIDENTIFIER
AS 
    DELETE  FROM dbo.Category
    WHERE   Category_Id = @Category_Id
    go

CREATE PROC [dbo].[Category_CheckName]
    @Category_Name NVARCHAR(50)
AS 
    SELECT  *
    FROM    dbo.Category
    WHERE   Category_Name = @Category_Name
    go
CREATE PROC [dbo].[Category_Check]
    @Category_Id UNIQUEIDENTIFIER
AS 
    SELECT  *
    FROM    dbo.Category
    WHERE   Category_Id = @Category_Id
            AND Category_IsDelete = 0
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
go


CREATE PROC [dbo].[Company_UpdateStatus]
    @Company_Id UNIQUEIDENTIFIER
AS 
    UPDATE  dbo.Company
    SET     Company_IsDelete = 0
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.Product
    SET     Product_IsDelete = 0
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.ProblemOfCustomer
    SET     ProblemOfCustomer_IsDelete = 0
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.CustomerOfCompany
    SET     CustomerOfCompany_IsDelete = 0
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.Dealer
    SET     Dealer_IsDelete = 0
    WHERE   Company_Id = @Company_Id
GO
CREATE PROC [dbo].[Company_UpdateStatusRemove]
    @Company_Id UNIQUEIDENTIFIER
AS 
    UPDATE  dbo.Company
    SET     Company_IsDelete = 1
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.Product
    SET     Product_IsDelete = 1
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.ProblemOfCustomer
    SET     ProblemOfCustomer_IsDelete = 1
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.CustomerOfCompany
    SET     CustomerOfCompany_IsDelete = 1
    WHERE   Company_Id = @Company_Id
    UPDATE  dbo.Dealer
    SET     Dealer_IsDelete = 1
    WHERE   Company_Id = @Company_Id
    GO
CREATE PROC [dbo].[Company_Update]
    @Company_Id UNIQUEIDENTIFIER ,
    @Company_Name NVARCHAR(256) ,
    @Company_Logo NVARCHAR(MAX) ,
    @Company_Description NVARCHAR(MAX) ,
    @Company_Phone NVARCHAR(16) ,
    @Company_Email NVARCHAR(256) ,
    @Company_Address NVARCHAR(256) ,
    @Company_IsDelete BIT
AS 
    UPDATE  Company
    SET     Company_Name = @Company_Name ,
            Company_Logo = @Company_Logo ,
            Company_Description = @Company_Description ,
            Company_Phone = @Company_Phone ,
            Company_Email = @Company_Email ,
            Company_Address = @Company_Address ,
            Company_IsDelete = @Company_IsDelete
    WHERE   Company_Id = @Company_Id
GO
CREATE PROC [dbo].[Company_ShowOnewDisplay]
    @Company_Id UNIQUEIDENTIFIER
AS 
    SELECT  *
    FROM    dbo.Company
    WHERE   Company_Id = @Company_Id
            AND Company_IsDelete = 0
GO
CREATE PROC [dbo].[Company_ShowAllDisplayRemove]
    @SearchKey NVARCHAR(MAX)
AS 
    SELECT  *
    FROM    dbo.Company
    WHERE   Company_IsDelete = 1
            AND (Company_Address LIKE N'%' + @SearchKey + '%'
            OR Company_Email LIKE N'%' + @SearchKey + '%'
            OR Company_Name LIKE N'%' + @SearchKey + '%'
            OR Company_Phone LIKE N'%' + @SearchKey + '%')
                
GO
CREATE PROC [dbo].[Company_ShowAllDisplay]
    @SearchKey NVARCHAR(MAX)
AS 
    SELECT  *
    FROM    dbo.Company
    WHERE   Company_IsDelete = 0
            AND ( Company_Address LIKE N'%' + @SearchKey + '%'
                  OR Company_Email LIKE N'%' + @SearchKey + '%'
                  OR Company_Name LIKE N'%' + @SearchKey + '%'
                  OR Company_Phone LIKE N'%' + @SearchKey + '%'
                )
GO
CREATE PROC [dbo].[Company_Insert]
    @Company_Name NVARCHAR(256) ,
    @Company_Logo NVARCHAR(MAX) ,
    @Company_Description NVARCHAR(MAX) ,
    @Company_Phone NVARCHAR(16) ,
    @Company_Email NVARCHAR(256) ,
    @Company_Address NVARCHAR(256)
AS 
    INSERT  INTO dbo.Company
            ( Company_Name ,
              Company_Logo ,
              Company_Description ,
              Company_Phone ,
              Company_Email ,
              Company_Address           
            )
    VALUES  ( @Company_Name ,
              @Company_Logo ,
              @Company_Description ,
              @Company_Phone ,
              @Company_Email ,
              @Company_Address
            )
GO
CREATE PROCEDURE [dbo].[Company_Delete]
    @Company_Id UNIQUEIDENTIFIER
AS 
    DECLARE @isCheck INT
    SET @isCheck = 0
    SELECT  @isCheck = COUNT(Company_Id)
    FROM    OrderOfService
    WHERE   Company_Id = @Company_Id
    IF ( @isCheck = 0 ) 
        BEGIN
            DELETE  FROM dbo.Product
            WHERE   Company_Id = @Company_Id

            DELETE  FROM [dbo].ProblemOfCustomer
            WHERE   Company_Id = @Company_Id
            
            DELETE  FROM [dbo].CustomerOfCompany
            WHERE   Company_Id = @Company_Id
            
            DELETE  FROM dbo.Dealer
            WHERE   Company_Id = @Company_Id

            DELETE  FROM dbo.Company
            WHERE   Company_Id = @Company_Id
                    AND Company_Id NOT IN ( SELECT  Company_Id
                                            FROM    dbo.OrderOfService )
        END    
GO
CREATE PROC [dbo].[Company_CheckName]
    @Company_Name NVARCHAR(50)
AS 
    SELECT  *
    FROM    dbo.Company
    WHERE   Company_Name = @Company_Name
GO
CREATE PROC [dbo].[Company_CheckEmail]
    @Company_Email NVARCHAR(256)
AS 
    SELECT  *
    FROM    dbo.Company
    WHERE   Company_Email = @Company_Email   
go
       
CREATE PROC [dbo].[Customer_Insert]
    @Customer_FulName NVARCHAR(256) ,
    @Customer_Phone NVARCHAR(16) ,
    @Customer_Address NVARCHAR(256)
AS 
    INSERT  INTO dbo.Customer
            ( Customer_FulName ,
              Customer_Phone ,
              Customer_Address             
            )
    VALUES  ( @Customer_FulName , -- Customer_FulName - nvarchar(256)
              @Customer_Phone , -- Customer_Phone - nvarchar(16)
              @Customer_Address
            )
 Go
CREATE PROC [dbo].[CustomerOfCompany_Check]
    @Customer_Id UNIQUEIDENTIFIER ,
    @Company_Id UNIQUEIDENTIFIER
AS 
    SELECT  *
    FROM    dbo.CustomerOfCompany
    WHERE   Company_Id = @Company_Id
            AND Customer_Id = @Customer_Id
GO            
CREATE PROC [dbo].[CustomerOfCompany_Insert]
    @Customer_Id UNIQUEIDENTIFIER ,
    @Company_Id UNIQUEIDENTIFIER
AS 
    INSERT  INTO dbo.CustomerOfCompany
            ( Customer_Id, Company_Id )
    VALUES  ( @Customer_Id, -- Customer_Id - uniqueidentifier
              @Company_Id  -- Company_Id - uniqueidentifier              
              )

Go
CREATE PROC [dbo].[Dealer_Insert]
    @Company_Id UNIQUEIDENTIFIER ,
    @Dealer_Name NVARCHAR(256) ,
    @Dealer_Address NVARCHAR(256) ,
    @Dealer_Phone NVARCHAR(16) ,
    @Dealer_Email NVARCHAR(256)
AS 
    INSERT  INTO dbo.Dealer
            ( Company_Id ,
              Dealer_Name ,
              Dealer_Address ,
              Dealer_Phone ,
              Dealer_Email               
            )
    VALUES  ( @Company_Id ,
              @Dealer_Name ,
              @Dealer_Address ,
              @Dealer_Phone ,
              @Dealer_Email         
            )
GO

-------Problem
CREATE PROC [dbo].[Problem_Update]
    @Problem_Id UNIQUEIDENTIFIER ,
    @Problem_Title NVARCHAR(256) ,
    @Problem_Content NVARCHAR(MAX) ,
    @Problem_IsDelete BIT
AS 
    UPDATE  dbo.Problem
    SET     Problem_Title = @Problem_Title ,
            Problem_Content = @Problem_Content ,
            Problem_IsDelete = @Problem_IsDelete
    WHERE   Problem_Id = @Problem_Id
Go
CREATE PROC [dbo].[Problem_UpdateStatus]
    @Problem_Id UNIQUEIDENTIFIER
AS 
    UPDATE  dbo.Problem
    SET     Problem_IsDelete = 0
    WHERE   Problem_Id = @Problem_Id
Go
CREATE PROC [dbo].[Problem_ShowOnewDisplay]
    @Problem_Id UNIQUEIDENTIFIER
AS 
    SELECT  A.Problem_Id ,
            A.Problem_Title ,
            A.Problem_Content ,
            B.Customer_FulName ,
            D.Company_Name
    FROM    dbo.Problem AS A
            INNER JOIN dbo.ProblemOfCustomer AS C ON C.Problem_Id = A.Problem_Id
            INNER JOIN dbo.Customer AS B ON B.Customer_Id = C.Customer_Id
            INNER JOIN dbo.Company AS D ON C.Company_Id = D.Company_Id
    WHERE   A.Problem_Id = @Problem_Id
    
Go
CREATE PROC [dbo].[Problem_ShowAllDisplayRemove]
    @SearchKey NVARCHAR(MAX)
AS 
    SELECT  A.Problem_Id ,
            A.Problem_Title ,
            A.Problem_Content ,
            B.Customer_FulName ,
            C.ProblemOfCustomer_Date ,
            D.Company_Name
    FROM    dbo.Problem AS A
            INNER JOIN dbo.ProblemOfCustomer AS C ON C.Problem_Id = A.Problem_Id
            INNER JOIN dbo.Customer AS B ON B.Customer_Id = C.Customer_Id
            INNER JOIN dbo.Company AS D ON D.Company_Id = C.Company_Id
    WHERE   A.Problem_IsDelete = 1
            AND ( A.Problem_Title LIKE '%' + @SearchKey + '%'
                  OR A.Problem_Content LIKE '%' + @SearchKey + '%'
                  OR B.Customer_FulName LIKE '%' + @SearchKey + '%'
                )
go
CREATE PROC [dbo].[Problem_ShowAllDisplay]
    @SearchKey NVARCHAR(MAX)
AS 
    SELECT  A.Problem_Id ,
            A.Problem_Title ,
            A.Problem_Content ,
            B.Customer_FulName ,
            C.ProblemOfCustomer_Date ,
            D.Company_Name
    FROM    dbo.Problem AS A
            INNER JOIN dbo.ProblemOfCustomer AS C ON C.Problem_Id = A.Problem_Id
            INNER JOIN dbo.Customer AS B ON B.Customer_Id = C.Customer_Id
            INNER JOIN dbo.Company AS D ON D.Company_Id = C.Company_Id
    WHERE   A.Problem_IsDelete = 0
            AND ( A.Problem_Title LIKE '%' + @SearchKey + '%'
                  OR A.Problem_Content LIKE '%' + @SearchKey + '%'
                  OR B.Customer_FulName LIKE '%' + @SearchKey + '%'
                )
go
CREATE PROC [dbo].[Problem_Insert]
    @Problem_Id UNIQUEIDENTIFIER ,
    @Problem_Title NVARCHAR(256) ,
    @Problem_Content NVARCHAR(MAX)
AS 
    INSERT  INTO dbo.Problem
            ( Problem_Id ,
              Problem_Title ,
              Problem_Content           
            )
    VALUES  ( @Problem_Id ,
              @Problem_Title , -- Problem_Title - nvarchar(256)
              @Problem_Content  -- Problem_Content - nvarchar(max)
          
            )
go
CREATE PROC [dbo].[Problem_DeleteRemove]
    @Problem_Id UNIQUEIDENTIFIER
AS 
    BEGIN
        UPDATE  dbo.Problem
        SET     Problem_IsDelete = 1
        WHERE   Problem_Id = @Problem_Id
     
        UPDATE  dbo.ProblemOfCustomer
        SET     ProblemOfCustomer_IsDelete = 1
        WHERE   Problem_Id = @Problem_Id

    END
go
CREATE PROC [dbo].[Problem_Delete]
    @Problem_Id UNIQUEIDENTIFIER
AS 
    BEGIN
        DELETE  FROM dbo.ProblemOfCustomer
        WHERE   Problem_Id = @Problem_Id

        DELETE  FROM dbo.Problem
        WHERE   Problem_Id = @Problem_Id
    END
    
go
-------ProblemOfCustomer
CREATE PROC [dbo].[ProblemOfCustomer_Update]
    @ProblemOfCustomer_Id UNIQUEIDENTIFIER ,
    @Customer_Id UNIQUEIDENTIFIER ,
    @Company_Id UNIQUEIDENTIFIER ,
    @Problem_Id UNIQUEIDENTIFIER ,
    @ProblemOfCustomer_Date SMALLDATETIME ,
    @ProblemOfCustomer_IsDelete BIT
AS 
    UPDATE  dbo.ProblemOfCustomer
    SET     Customer_Id = @Customer_Id ,
            Company_Id = @Company_Id ,
            Problem_Id = @Problem_Id ,
            ProblemOfCustomer_Date = @ProblemOfCustomer_Date ,
            ProblemOfCustomer_IsDelete = @ProblemOfCustomer_IsDelete
    WHERE   ProblemOfCustomer_Id = @ProblemOfCustomer_Id
GO

CREATE PROC [dbo].[ProblemOfCustomer_Insert]
    @Customer_Id UNIQUEIDENTIFIER ,
    @Company_Id UNIQUEIDENTIFIER ,
    @Problem_Id UNIQUEIDENTIFIER ,
    @ProblemOfCustomer_Date SMALLDATETIME
AS 
    INSERT  INTO dbo.ProblemOfCustomer
            ( Customer_Id ,
              Company_Id ,
              Problem_Id ,
              ProblemOfCustomer_Date 
              
            )
    VALUES  ( @Customer_Id , -- Customer_Id - uniqueidentifier
              @Company_Id , -- Company_Id - uniqueidentifier
              @Problem_Id , -- Problem_Id - uniqueidentifier
              @ProblemOfCustomer_Date  -- ProblemOfCustomer_Date - smalldatetime             
            )
go

    CREATE PROC [dbo].[ProblemOfCustomer_Delete]
        @ProblemOfCustomer_Id UNIQUEIDENTIFIER
    AS 
        DELETE  FROM dbo.ProblemOfCustomer
        WHERE   ProblemOfCustomer_Id = @ProblemOfCustomer_Id   

Go
CREATE PROC [dbo].[Product_Insert]
    @Company_Id UNIQUEIDENTIFIER ,
    @Category_Id UNIQUEIDENTIFIER ,
    @Product_Name NVARCHAR(256) ,
    @Product_Type NVARCHAR(256) ,
    @Product_Price NVARCHAR(MAX) ,
    @Product_Description NVARCHAR(MAX) ,
    @Product_Image NVARCHAR(MAX) ,
    @Product_ManufactureDate SMALLDATETIME ,
    @Product_ExpiryDate SMALLDATETIME
AS 
    INSERT  INTO dbo.Product
            ( Company_Id ,
              Category_Id ,
              Product_Name ,
              Product_Type ,
              Product_Price ,
              Product_Description ,
              Product_Image ,
              Product_ManufactureDate ,
              Product_ExpiryDate               
            )
    VALUES  ( @Company_Id , -- Company_Id - uniqueidentifier
              @Category_Id , -- Category_Id - uniqueidentifier
              @Product_Name , -- Product_Name - nvarchar(256)
              @Product_Type , -- Product_Type - nvarchar(256)
              @Product_Price , -- Product_Price - nvarchar(256)
              @Product_Description , -- Product_Description - nvarchar(max)
              @Product_Image , -- Product_Image - nvarchar(max)
              @Product_ManufactureDate , -- Product_ManufactureDate - smalldatetime
              @Product_ExpiryDate  -- Product_ExpiryDate - smalldatetime              
            )
GO
CREATE PROC [dbo].[Product_ShowAllDisplay]
    @SearchKey NVARCHAR(MAX)
AS 
    SELECT  A.Product_Id ,
            A.Product_ExpiryDate ,
            A.Product_ManufactureDate ,
            A.Product_Image ,
            A.Product_Name ,
            A.Product_Price ,
            A.Product_Type ,
            A.Product_Description ,
            B.Company_Name ,
            C.Category_Name
    FROM    dbo.Product AS A
            INNER JOIN dbo.Company AS B ON A.Company_Id = B.Company_Id
            INNER JOIN dbo.Category AS C ON A.Category_Id = C.Category_Id
    WHERE   Product_IsDelete = 0
            AND ( Product_Name LIKE N'%' + @SearchKey + '%'
                  OR Product_Price LIKE N'%' + @SearchKey + '%'
                  OR Product_Type LIKE N'%' + @SearchKey + '%'
                  OR Product_Description LIKE N'%' + @SearchKey + '%'
                  OR Company_Name LIKE N'%' + @SearchKey + '%'
                  OR Category_Name LIKE N'%' + @SearchKey + '%'
                  OR Product_ManufactureDate LIKE N'%' + @SearchKey + '%'
                  OR Product_ExpiryDate LIKE N'%' + @SearchKey + '%'
                )
GO                
CREATE PROC [dbo].[Product_UpdateStatusRemove]
    @Product_Id UNIQUEIDENTIFIER     
AS 
    UPDATE  dbo.Product
    SET     Product_IsDelete = 1
    WHERE   Product_Id = @Product_Id                

GO
CREATE PROC [dbo].[Product_ShowAllDisplayRemove]
    @SearchKey NVARCHAR(MAX)
AS 
    SELECT  A.Product_Id ,
            A.Product_ExpiryDate ,
            A.Product_ManufactureDate ,
            A.Product_Image ,
            A.Product_Name ,
            A.Product_Price ,
            A.Product_Type ,
            A.Product_Description ,
            B.Company_Name ,
            C.Category_Name
    FROM    dbo.Product AS A
            INNER JOIN dbo.Company AS B ON A.Company_Id = B.Company_Id
            INNER JOIN dbo.Category AS C ON A.Category_Id = C.Category_Id
    WHERE   Product_IsDelete = 1
            AND ( Product_Name LIKE N'%' + @SearchKey + '%'
                  OR Product_Price LIKE N'%' + @SearchKey + '%'
                  OR Product_Type LIKE N'%' + @SearchKey + '%'
                  OR Product_Description LIKE N'%' + @SearchKey + '%'
                  OR Company_Name LIKE N'%' + @SearchKey + '%'
                  OR Category_Name LIKE N'%' + @SearchKey + '%'
                  OR Product_ManufactureDate LIKE N'%' + @SearchKey + '%'
                  OR Product_ExpiryDate LIKE N'%' + @SearchKey + '%'
                )
GO
CREATE PROC [dbo].[Product_UpdateStatus]
    @Product_Id UNIQUEIDENTIFIER    
AS 
    UPDATE  dbo.Product
    SET     Product_IsDelete = 0
    WHERE   Product_Id = @Product_Id
GO
CREATE PROC [dbo].[Product_ShowOnewDisplay]
    @Product_Id UNIQUEIDENTIFIER
AS 
    SELECT  *
    FROM    dbo.Product
    WHERE   Product_Id = @Product_Id         
    
GO
CREATE PROC [dbo].[Product_Delete]
    @Product_Id UNIQUEIDENTIFIER
AS 
    DELETE  FROM dbo.Product
    WHERE   Product_Id = @Product_Id
GO    
CREATE PROCEDURE [dbo].[Customer_ShowAllDisplay]
AS 
    SELECT  *
    FROM    dbo.Customer
    WHERE   Customer_IsDelete = 0
Go	
CREATE PROC [dbo].[Product_Update]
    @Product_Id UNIQUEIDENTIFIER ,
    @Company_Id UNIQUEIDENTIFIER ,
    @Category_Id UNIQUEIDENTIFIER ,
    @Product_Name NVARCHAR(256) ,
    @Product_Type NVARCHAR(256) ,
    @Product_Price NVARCHAR(MAX) ,
    @Product_Description NVARCHAR(MAX) ,
    @Product_Image NVARCHAR(MAX) ,
    @Product_ManufactureDate SMALLDATETIME ,
    @Product_ExpiryDate SMALLDATETIME ,
    @Product_IsDelete BIT
AS 
    UPDATE  dbo.Product
    SET     Company_Id = @Company_Id ,
            Category_Id = @Category_Id ,
            Product_Name = @Product_Name ,
            Product_Type = @Product_Type ,
            Product_Price = @Product_Price ,
            Product_Description = @Product_Description ,
            Product_Image = @Product_Image ,
            Product_ManufactureDate = @Product_ManufactureDate ,
            Product_ExpiryDate = @Product_ExpiryDate ,
            Product_IsDelete = @Product_IsDelete
    WHERE   Product_Id = @Product_Id    

